In [1]:
import pandas as pd

In [3]:
PATH = 'data/'
titles = pd.read_csv(PATH + 'title.basics.tsv',sep='\t')
titles.head()

/tmp/ipykernel_108528/741945459.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titles = pd.read_csv(PATH + 'title.basics.tsv',sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
len(titles)

11201577

In [5]:
ratings = pd.read_csv(PATH + 'title.ratings.tsv',sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2096
1  tt0000002            5.6       282
2  tt0000003            6.5      2110
3  tt0000004            5.4       182
4  tt0000005            6.2      2843

In [6]:
len(ratings)

1493420

In [7]:
df = pd.merge(titles, ratings, on = 'tconst')

In [8]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2096
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.6,282
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.5,2110
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.4,182
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2843

In [9]:
df.tail()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
1493415,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12
1493416,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Game-Show,Reality-TV",7.1,24
1493417,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,"Crime,Drama,Mystery",7.2,37
1493418,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy",6.9,11
1493419,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",7.9,9

In [ ]:
#TODO: add a column to the df which states if it was nominated and if it won (like a 0/1 column)